* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #c3f0ca;
}

.container {
    width: 80vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #abd1c6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #497b81;


}

.header {
    padding: 5px 12px;
    width: 58%;
    background-color: #e8e4e6;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #004643;
}

#title {
    font-size: 3.2rem;
    color: #001858;
    text-shadow: 0px 0px 4.5px #6c8691;
}

.balance {
    font-size: 1.3rem;
    color: #001858;
}

#money {
    color: #516e6d;
    font-size: 2.9rem;
}

#box {
    display: flex;
    box-shadow: 0px 0px 8px #f9bc60;
    width: auto;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    gap: 8.5px;
    border-radius: 5.8px;
    background-color: #086b66;
    color: #fffffe;
    font-weight: bold;
}

#line {
    line-height: 0.8;
    font-size: 25px;
    font-weight: bolder;
}

.sub_container {
    background-color: #e8e4e6;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #f9bc60;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 8px;
    width: 90%;
    padding: 10px;


}

.main {
    width: 65%;
    height: 100%;
    color: #001858;
}

.main,
.footer {
    background-color: #086b66;
    box-shadow: 0px 0px 5.5px #5c3c2c;
    border-radius: 5px;
}

.main h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 550;
    padding-bottom: 2.3px;
    color: #fffffe;

}

table,
thead {
    box-shadow: 0px 0px 3px #4e3e36;
    border-collapse: collapse;
}

table {
    width: 95%;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 2.5%;
    overflow: scroll;

}

tbody {
    background-color: #eee6d5;
}

thead {
    background-color: #abd1c6;
    font-weight: bold;
}

.footer {
    width: 45%;
    line-height: 1.7;
    font-size: 18px;

}

.footer h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 550;
    padding-bottom: 2.3px;
    color: #fffffe;
    ;
}

#form {
    padding: 8px;
    color: #abd1c6;
    font-size: 1.4rem;
}

#sources {
    /* background-color: #f3d2c1; */
    background-color: transparent;
    padding: 4px;
    font-size: 17px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #abd1c6;
    border-style: none;
    color: #f3d2c1;
    font-weight: bold;

}

option {
    background-color: #698079;
}

input {
    padding: 5px;
    background-color: transparent;
    font-size: 13px;
    width: 50%;
    border-radius: 5px;
    background-color: #fef6e4;
    border-style: none;
    box-shadow: 0px 0px 5.6px #8f3f17;
    color: #001858;
    font-weight: 450;
}

#subtn {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    width: fit-content;
    margin: auto auto;
    margin-bottom: 7.8px;
    position: relative;
    display: flex;
    align-items: center;
    top: 5.3px;
    border-radius: 5px;
    color: #abd1c6;
    border-style: none;
    box-shadow: 0px 0px 5.6px #e8e4e6;
    background-color: transparent;

}