* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    border: 2px solid;
    width: 80vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header {
    border: 2px solid;
    padding: 5px 12px;
    width: 45%;

}

#title {
    font-size: 3.2rem;
}

.balance {
    font-size: 1.8rem;
}

#box {
    display: flex;
    border: 2px solid red;
    width: auto;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    gap: 8.5px;
}

#line {
    line-height: 0.9;
    font-size: 25px;
}

.sub_container {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 8px;
    width: 90%;
}

.main {
    border: 2px solid;
    width: 65%;
}

table,
thead,
td {
    border: 2px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.footer {
    border: 2px solid;
    width: 45%;
    padding: 8px;
    line-height: 1.7;
    font-size: 18px;

}

#subtn {
    opacity: 0.5;
}